body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4CAF50;
  /* Money green background */
  color: #FFFFFF;
  /* White text color */
}

#main-container {
  width: 300px;
  padding: 15px;
  background-color: #FFFFFF;
  /* White background */
  color: #4CAF50;
  /* Money green text color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

select,
button {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  /* Set pointer cursor */
}

#list-container {
  margin-top: 20px;
}

#productivity-list {
  list-style: none;
  padding: 0;
}

#productivity-list li {
  margin-bottom: 5px;
}

/* Style the preview alert */
.ui-widget-content {
  background: #FFFFFF;
  color: #4CAF50;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.ui-widget-header {
  background: #4CAF50;
  color: #FFFFFF;
  border: 1px solid #4CAF50;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}